/* DISEÑO INDEX */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    --animate-duration: 2s;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "nuestros-servicios nuestros-servicios nuestros-servicios"
    "testimonios testimonios testimonios"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    display: flex;
    flex-direction: column;
}
header{
    grid-area: header;
    width: 100%;
    padding: 15px;
    background-image: url(https://www.rincondelasalud.com/sites/rincondelasalud.com/files/styles/style_1920x400/public/2022-02/ventilaci%C3%B3n%20oficina.jpeg?itok=GrWmg2ew);
    text-align: end;
}
@media (max-width:768px) {
    .container{
        display: grid;
        grid-template-areas: 
        "header"
        "hero"
        "nuestros-servicios"
        "testimonios"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        display: flex;
        flex-direction: column;
        }
        header{
            grid-area: header;
            background-image: url(https://www.rincondelasalud.com/sites/rincondelasalud.com/files/styles/style_1920x400/public/2022-02/ventilaci%C3%B3n%20oficina.jpeg?itok=GrWmg2ew);
            text-align: end;
        }
        nav{
            display: flex;
            flex-wrap: wrap;
        }
        a.nav__servicios{
            padding: 5px;
            font-weight: 350;
        }
        a.nav__sobreNosotros{
            padding: 5px;
            font-weight: 350;
        }
        a.nav__contacto{
            padding: 5px;
            font-weight: 350;
        }
        a.nav__galeria{

            padding: 5px;
            font-weight: 350;
        }
        ul{
            padding: 0%;
            margin: 0%;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
        }
        ul li{ 
            margin: 15px;
        }
    }
/* BODY */
body{
    background-color: #ffffff;
}
h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #162521
}
h2{
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    color: #162521;
    margin: 25px;
}
h3{
    font-size: 25px;
    color: #162521;
}
/* BARRA DE NAVEGACION */
nav{
    text-align: center;
}
a.nav__servicios{
    border-style: hidden;
    border-radius: 10px;
    background-color: #edf7fa;
    padding: 10px;
    font-weight: 500;
}
a.nav__sobreNosotros{
    border-style: hidden;
    border-radius: 10px;
    background-color: #edf7fa;
    padding: 10px;
    font-weight: 500;
}
a.nav__contacto{
    border-style: hidden;
    border-radius: 10px;
    background-color: #edf7fa;
    padding: 10px;
    font-weight: 500;
}
a.nav__galeria{
    border-style: hidden;
    border-radius: 10px;
    background-color: #edf7fa;
    padding: 10px;
    font-weight: 500;
}
ul{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
ul li{ 
    display: inline-block;
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: #162521;
}


/* HERO */
.hero{
    grid-area: hero;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}
.titulo{
    text-align: center;
    margin: 50px;
}
#homeVideo{
    margin: 50px;
}
/* NUESTROS SERVICIOS */
.nuestros-servicios{
    grid-area: nuestros-servicios;
    font-size: 30px;
    text-align: center;
}
.servicios{
    display: flex;
    flex-direction: row;
}
.servicios__descripcion{
    align-items:center;
    width: 90%;
    margin: 20px auto;

}

img#servicio1{
    width: 250px;
    height: 250px;
}
img#servicio2{
    width: 250px;
    height: 250px;

}
#textoServicio1{
    width: 500px;
    height: 250px;
    overflow: auto;
    text-align: center;
    margin-left: 225px;
    font-size: 20px;
    color: #162521;     
}
#textoServicio2{
    width: 500px;
    height: 250px;
    overflow: auto;
    text-align: center;
    margin-left: 225px;
    font-size: 20px;
    color: #162521;
}
/* TESTIMONIOS */
.testimonios{
    grid-area: testimonios;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;

}
.testimonio-1{
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 50px;
}
.testimonio-2{
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.testimonios__imagen{
    align-items: center;
    width: 150px;
    height: 150px;
}
.testimonios__texto{
    align-items: center;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-left: 250px;
    font-size: 20px;
    color: #162521;
}

/* FOOTER */
.footer{
    grid-area: footer;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    color: #162521;
    text-align: center;
}

/* PAGINA SERVICIOS */
.container__servicios{
    display: grid;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    "descripcion-servicios descripcion-servicios descripcion-servicios"
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);
    display: flex;
    flex-direction: column;
}
.tabla-de-servicios{
    margin-left: 325px;
    padding: 10px;
    border-style:hidden;
    text-align: center;
    width: 300px;
    height: 150px;
}

.tabla-de-servicios .titulos{
    background-color: #edf7fa;
    font-size: 20px;
    font-weight: bold;
}
.descripcion-servicios{
    grid-area: descripcion-servicios;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#descripcionInstalacionesHidraulicas{
    padding:50px 800px;
    align-items: center;
}
ul #descripcionInstalacionesHidraulicas{
    align-items: flex-start;
}
#descripcionRegistroDeGas{
    padding:50px 800px;
    text-align: justify;
}