/* DISEÑO INDEX */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    --animate-duration: 2s;
}

/* BODY */
body{
    background-color: #ffffff;
}

h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #162521
}
h2{
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    color: #162521;
    margin: 25px;
}
h3{
    font-size: 25px;
    color: #162521;
    text-align: center;
}
/* HERO */
.titulo{
    margin: 50px;
}
#homeVideo{
    text-align: center;
    margin: 50px;
}
/* NUESTROS SERVICIOS */
.nuestros-servicios{
    text-align: center;
    padding: 50px;
}
img#servicio1{
    width: 250px;
    height: 250px;
    margin: 50px;
}
img#servicio2{
    width: 250px;
    height: 250px;
    margin: 50px;
}
#textoServicio1{
    text-align: center;
    font-size: 20px;
    color: #162521;  
    padding: 25px;   
}
#textoServicio2{
    text-align: center;
    font-size: 20px;
    color: #162521;
    padding:25px
}
/* TESTIMONIOS */
.testimonios{
    text-align: center;
    padding: 50px;
}
.testimonios__texto{
    font-size: 20px;
    color: #162521;
    margin: 50px;
}
/* FOOTER */
.footer{
    color: #162521;
    text-align: center;
}
/* PAGINA SERVICIOS */
.hero{
    text-align: center;
}
.tabla-de-servicios{
    border-style:hidden;
    text-align: center;
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 50px;
}

.tabla-de-servicios .titulos{
    background-color: #edf7fa;
    font-size: 20px;
    font-weight: bold;
}
.descripcion-servicios{
    text-align: center;
    padding: 50px;
    margin: 50px;    
}
.descripcion-servicios li{
    list-style-type: none;
}