.footer{
    font-weight: bolder;
    padding: 50px;
    color: $primary-font-color;
    text-align: center;
    background: rgb(235,252,255);
    background: radial-gradient(circle, rgba(235,252,255,0.7707457983193278) 0%, rgba(225,248,255,0.804359243697479) 9%, rgba(181,235,246,0.6138830532212884) 27%, rgba(146,224,230,0.6502976190476191) 52%, rgba(106,194,200,0.6502976190476191) 69%);
}