// MIXIN Y EXTEND
@mixin text-font ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}
.titulo{
    margin: 50px;
}
#homeVideo{
    @extend .titulo;
    text-align: center;
}
.nuestros-servicios{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.servicios__imagen{
    width: 250px;
    height: 250px;
    margin: 50px;
}

.servicios__texto{
    text-align: center;
    @include text-font (20px, light);
    color: map-get($colors , primary-font);  
    padding: 25px;   
}
.testimonios{
    text-align: center;
    padding: 50px;
}
.testimonios__texto{
    @include text-font(20px, light);
    color: map-get($colors, primary-font);
    margin: 50px;
}
