.sobre-nosotros{
    .contenedor{
        display: flex;   
            #grupoDeOficina{
                width: 200px;
                height: 500;
                margin: 150px;
                flex-direction: column;
            }  
            #sobreNosotrosTitulo{
                width: 500px;
                height: 250px;
                margin: auto;
                flex-direction: column;
            }
            .texto{   
                margin: auto;
                flex-direction: column;
            }
    }
   
}

