.sobre-nosotros{
    .contenedor{
        display: flex;   
            #sobreNosotrosTitulo{
                width: 500px;
                height: auto;
                margin: auto;
                flex-direction: column;
            }
            .texto{   
                flex-direction: column;
            }
    }
   
}

