body{
    margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
      --animate-duration: 2s;    
      background-color: $primary-background-color;
}
h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: $primary-font-color;
}
h2{
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    color: $primary-font-color;
    margin: 25px;
}
h3{
    font-size: 25px;
    color: $primary-font-color;
    text-align: center;
    &:hover{
        transform:scale(2);
        transition: all 0.5s ease-in;
    }
}